* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
    margin: 0;
}
body {
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
div {
    display : block;
}
#wrapper {
  display: flex;
  justify-content: center;
}
#fillWord {
    margin: auto;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
    padding-top: 10em;
}
#window {
    overflow: scroll;
    height: 30vh;
    width: 40vw;
    margin: auto;
    font-family: monospace;
    font-size: 1.1rem;
    border: 1px solid black;
}
#guessLetter {
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
}
